root = true

[*]
charset = utf-8
indent_style = tab
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.js]
max_line_length = 120

# 2 пробела в Markdown означают разрыв строки в параграфе, поэтому трим отключен
[*.md]
trim_trailing_whitespace = false

# Строки в батнике должны иметь перенос строки в стиле Windows (crlf), иначе возможны спецэффекты
[*.bat]
end_of_line = crlf
